div{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}
header{
    background-color: #d8638e;
    width: 500px;
    height: 150px;
    padding: 6px 6px 6px 6px;
    }

body{
    background-color:aliceblue; 
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}    




    ul a{
        color: pink;
        text-decoration: none;

    }
    li{
        display: inline-block;
        height: 20px;
        width: 75px;
        padding: 12px;
        text-align: center;
        color: white;
        border: 2px solid #99bfcc;
        background-color: rgb(115, 124, 193);
    }
    li:hover{
        background-color: rgb(211, 153, 166);
        border-style: none;
    }

    p{
        background-color: azure;
        padding: 6px;
    }
.foto{
    padding: 6px;
    
}

    table{
        border-collapse: separate;
        width: 500px;
        border-style: dashed;
        background-color: beige;
        padding: 15px;
    }
    td, th{
        padding: 10px 5px;
        background-color: rgb(255, 126, 234);
    }

    .formulier{
        padding: 6px;
    }

    input[type="text"], input[type="email"], textarea, select, button{
        display: block;
        margin: 15px 15px;
        width: 400px;
        box-sizing: border-box;
        border-radius: 4px; box-shadow: inset 2px 2px 5px rgb(219, 144, 238);
        padding: 6px;
    }
    textarea{
        height: 100px;
        padding: 5px 4px;
    }
    button:active{
        background-color: rgb(212, 75, 137);
        color: white;
        border-radius: 4px; box-shadow: inset 2px 2px 5px rgb(251, 0, 255);
    }
   









    footer{
        background-color: #d8638e;
        width: 500px;
        height: 50px; 
        padding: 6px 6px 6px 6px;
    }
    
